@using Abc.MvcWebUI2.Models;
@model IEnumerable<ProductModel>

<div class="row">
    @foreach (var urun in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="~/Upload/@urun.Image" alt="@urun.Name" style="height:250px">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/Home/Details/@urun.Id">@urun.Name</a>
                    </h4>
                    <p class="card-text pt-2 description">
                        @urun.Description
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted product-price">
                        <i class="fa fa-try" aria-hidden="true"></i>
                        @urun.Price
                    </small>
                    <a href="/Home/Details/@urun.Id" class="btn btn-primary btn-sm float-right">
                        <i class="fa fa-angle-double-right " aria-hidden="true"></i>
                        Ürünü İncele
                    </a>
                </div>
            </div>
        </div>

    };

</div>

